{{#partial "header"}}

{{/partial}}

{{#partial "content"}}
    <div class="hero">
        <h1>Guyo's Todo Tasks</h1>
        <p>Private</p>
    </div>


    <div class="info">
        <div class="row">
            <div class="col-md-6">
                <div class="add-task">
                    <button class="btn btn-primary"><a href="/post-todo">Create Task</a></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="task-list">
                    <button class="btn btn-primary"><a href=""></a>Task List</button>
                </div>
            </div>
        </div>

    </div>


{{/partial}}
{{> layout.hbs}}