{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#block "title"}}Todo{{/block}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
{{/block}}
    <div class="container">
        {{#block "content"}}{{/block}}

        {{#block "footer"}}
    </div>
</body>
</html>
        {{/block}}