{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#bock "title"}}Todo{{/bock}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
</head>
<body>
{{/block}}
    <div class="container">
        {{#block "content"}}{{/block}}

        {{#block "footer"}}
    </div>
</body>
</html>
        {{/block}}